{% extends 'base.html.twig' %}

{% block title %}GestorTareas - Inicio{% endblock %}

{% block body %}
    {% if app.user %}
		<h1>Proyecto personal / Tareas personales</h1>
		{% if project is not null %}
			<a href="{{ path('app_task_new', {'id': project.id}) }}">Crear tarea personal</a>
		{% endif %}
		<br>

		<table class="table">
			<thead>
				<tr>
					<th>Descripción</th>
					<th>Fecha límite</th>
					<th>Fecha de entrega</th>
                    <th>Marcada/finalizada por</th>
					<th>Acciones</th>
				</tr>
			</thead>
			<tbody>
			{% for task in tasks %}
				<tr>
					{% if task.enddate is null %}
                        <td style="text-decoration: none; color: black;">{{ task.description }}</td>
                    {% else %}
                        <td style="text-decoration: line-through; color: gray;">{{ task.description }}</td>
                    {% endif %}
					<td>{{ task.limitdate ? task.limitdate|date('Y-m-d') : '' }}</td>
					<td>{{ task.enddate ? task.enddate|date('Y-m-d') : '' }}</td>
                    <td>{{ task.finisher ? task.finisher.username : '' }}</td>
					<td>
						<a href="{{ path('app_task_edit', {'id': task.id}) }}">Editar</a>&nbsp;
						<a href="{{ path('app_task_eliminate', {'id': task.id}) }}">Eliminar</a>&nbsp;
                        <a href="{{ path('app_task_completed', {'id': task.id}) }}">Marcar/Desmarcar</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="5">No tienes tareas personales</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
		<br>

		<h1>Mis invitaciones</h1>
		<ul>
		{% for invitation in invitations %}
			<li>
				Invitación de {{ invitation.emisor.username }} al proyecto {{ invitation.project.name }}
				<a href="{{ path('app_invitation_change_state', {'id': invitation.id, 'state': 'aceptada'}) }}">Aceptar</a> - 
				<a href="{{ path('app_invitation_change_state', {'id': invitation.id, 'state': 'rechazada'}) }}">Rechazar</a>
			</li>
			<br>
		{% else %}
			<li>Actualmente no tienes invitaciones</li>
		{% endfor %}
		</ul>
		<br><br>

		<h1>Proyectos donde colaboro</h1>
		<ul>
		{% for project in projects %}
			<li>
				{{ project.name }} - 
				<a href="{{ path('app_project_detail', {'id': project.id}) }}">Acceder</a>
			</li>
			<br>
		{% else %}
			<li>Actualmente no estás en proyectos colectivos</li>
		{% endfor %}
		</ul>
	{% else %}
		<img src="./images/showcase.png" alt="Imagen de tareas" width="auto" height="300" />
	{% endif %}
{% endblock %}
