{% extends 'base.html.twig' %}

{% block title %}GestorTareas - Usuario{% endblock %}

{% block body %}
    <h1>Crear nuevo proyecto</h1>
    <form action="{{ path('app_project_new') }}" method="get">
        <input type="text" name="project_name" placeholder="Nombre del proyecto" />
        <input type="submit" value="Crear" />
    </form>
    <br><br>

    <h1>Lista de usuarios</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Username</th>
                <th>Roles</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.roles|json_encode() }}</td>
                <td>
                    <a href="{{ path('app_invitation_choose_project', {'id': user.id}) }}">Invitar</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
